In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
import pandas as pd
import numpy as np

In [210]:
daily_fp = os.path.join('daily_sales.csv')
monthly_fp = os.path.join('monthly_sales.csv')

In [211]:
daily_sales = pd.read_csv(daily_fp)

monthly_sales = pd.read_csv(monthly_fp)
monthly_sales.set_index('Month, Year')
mean_sales_DOW = daily_sales.groupby('Day of Week').mean()

daily_sales['Day'] = pd.to_datetime(daily_sales['Day'])

In [126]:
mean_sales_DOW.to_csv('mean_sales_DOW.csv')
monthly_sales = monthly_sales.set_index('Month, Year')

In [128]:
monthly_NE = monthly_sales.iloc[:, monthly_sales.columns.str.contains('NE')]

In [109]:
monthly_sales[monthly_sales.columns[monthly_sales.columns.str.contains('NE')]]


monthly_sales.columns[monthly_sales.columns.str.contains('NE')]

Index(['HM-NE', 'CF-NE', 'FF-NE'], dtype='object')

In [168]:
def divide(boom):
    return boom / monthly_NE.sum(axis = 1)

In [173]:
monthly_NE.apply(divide).T.to_csv('NE_percentage_sales.csv')

In [185]:
CF_monthly = monthly_sales[monthly_sales.columns[monthly_sales.columns.str.contains('CF')]]
FF_monthly = monthly_sales[monthly_sales.columns[monthly_sales.columns.str.contains('FF')]]
HM_monthly = monthly_sales[monthly_sales.columns[monthly_sales.columns.str.contains('HM')]]

In [186]:
HM_monthly.T.sum().to_csv('agg_HM_monthly.csv')
CF_monthly.T.sum().to_csv('agg_CF_monthly.csv')
FF_monthly.T.sum().to_csv('agg_FF_monthly.csv')

In [183]:
HM_monthly

               HM-NE    HM-SW    HM-NW    HM-SE     HM-C
Month, Year
Jan-16       1140955  1124565  1111618  1095034  1126476
Feb-16       1175529  1200559  1188037  1167009  1109076
Mar-16       1235995  1220454  1151657  1133899  1167894
Apr-16       1186592  1213616  1149180  1133767  1116560
May-16       1272450  1249686  1187579  1215080  1155612
Jun-16       1235025  1213908  1239785  1217717  1149673
Jul-16       1284426  1269486  1202069  1186438  1220954
Aug-16       1323348  1358134  1283993  1319163  1252825
Sep-16       1284426  1268860  1295077  1279199  1255322
Oct-16       1280303  1315120  1301675  1233342  1213425
Nov-16       1319100  1348519  1276693  1257908  1288024
Dec-16       1280303  1306490  1287225  1266216  1199842
Jan-17       1381012  1356550  1341018  1316604  1290590
Feb-17       1480936  1451591  1428344  1405780  1386331
Mar-17       1381012  1358087  1393347  1378270  1307257
Apr-17       1429463  1411049  1329007  1358906  1335282
May-17       1472779  1395077  1367489  1347357  1381392
Jun-17       1487808  1471677  1442457  1420841  1344775
Jul-17       1419956  1391670  1367838  1343314  1318052
Aug-17       1522698  1560316  1536702  1447084  1431076
Sep-17       1538236  1462819  1433985  1467806  1450080
Oct-17       1466507  1448688  1478973  1401670  1374453
Nov-17       1572618  1542173  1519708  1439282  1475555
Dec-17       1588665  1570750  1492847  1537545  1517969
Jan-18       1574815  1607493  1586799  1570926  1547730
Feb-18       1688763  1597750  1640630  1545259  1517826
Mar-18       1574816  1551672  1532001  1509031  1486792
Apr-18       1623266  1605619  1574000  1611615  1532852
May-18       1672456  1709237  1622550  1601156  1580994
Jun-18       1559609  1534783  1569245  1491366  1474712
Jul-18       1671717  1587310  1566687  1603342  1583461
Aug-18       1654831  1625106  1662321  1574144  1543848
Sep-18       1606160  1642152  1618403  1536130  1520076
Oct-18       1380063  1351220  1351293  1334204  1364454
Nov-18       1551486  1524624  1440957  1417422  1451913
Dec-18       1446801  1419772  1343743  1383670  1360520
Jan-19       1581146  1499626  1534569  1518435  1434785
Feb-19       1503795  1537661  1460434  1432313  1416053
Mar-19       1519140  1444534  1474888  1453373  1375864
Apr-19       1488760  1524090  1442209  1414702  1448080
May-19       1596480  1506271  1547080  1470550  1500448
Jun-19       1488759  1410073  1446819  1371090  1407434
Jul-19       1458378  1379296  1416344  1336287  1366136
Aug-19       1502572  1422314  1462348  1386752  1416674
Sep-19       1458379  1431260  1472377  1397616  1383228

In [237]:

def cool(month):
    if 'Jan' in month:
        return 'Winter'
    elif 'Feb' in month:
        return 'Winter'
    elif 'Mar' in month:
        return 'Spring'
    elif 'Apr' in month:
        return 'Spring'
    elif 'May' in month:
        return 'Spring'
    elif 'Jun' in month:
        return 'Summer'
    elif 'Jul' in month:
        return 'Summer'
    elif 'Aug' in month:
        return 'Summer'
    elif 'Sep' in month:
        return 'Fall'
    elif 'Oct' in month:
        return 'Fall'
    elif 'Nov' in month:
        return 'Fall'
    else:
        return 'Winter'

In [239]:
monthly_sales['Season'] = monthly_sales['Month, Year'].astype(str).apply(cool)

In [250]:
mean_mon_by_season = monthly_sales.groupby('Season').mean()

In [246]:
count_mon = monthly_sales.groupby('Season').count()

In [247]:
sum_mon / count_mon

,CF-C,CF-NE,CF-NW,CF-SE,CF-SW,FF-C,FF-NE,FF-NW,FF-SE,FF-SW,HM-C,HM-NE,HM-NW,HM-SE,HM-SW,"Month, Year"
Season,,,,,,,,,,,,,,,,
Fall,572226.600000,604906.700000,583973.200000,585133.900000,598044.800000,345632.000000,368682.200000,353414.200000,349558.400000,361624.200000,1.377653e+06,1.445728e+06,1.418914e+06,1.376458e+06,1.433544e+06,NaN
Spring,571200.916667,604319.750000,583395.833333,577022.500000,592811.500000,343645.916667,363007.333333,350505.833333,345184.000000,359577.083333,1.365752e+06,1.454434e+06,1.397582e+06,1.385642e+06,1.432449e+06,NaN
Summer,579461.333333,613438.083333,593685.166667,580354.083333,606996.000000,349570.916667,364207.666667,352201.083333,349348.416667,359086.000000,1.375802e+06,1.467427e+06,1.433051e+06,1.391462e+06,1.435339e+06,NaN
Winter,563123.000000,597369.000000,579702.272727,572690.181818,585255.909091,342367.818182,357503.636364,350413.909091,344051.454545,351267.090909,1.355200e+06,1.440247e+06,1.401388e+06,1.385345e+06,1.424801e+06,NaN

In [249]:
sum_mon

,HM-NE,CF-NE,FF-NE,HM-SW,CF-SW,FF-SW,HM-NW,CF-NW,FF-NW,HM-SE,CF-SE,FF-SE,HM-C,CF-C,FF-C
Season,,,,,,,,,,,,,,,
Fall,1.445728e+06,604906.700000,368682.200000,1.433544e+06,598044.800000,361624.200000,1.418914e+06,583973.200000,353414.200000,1.376458e+06,585133.900000,349558.400000,1.377653e+06,572226.600000,345632.000000
Spring,1.454434e+06,604319.750000,363007.333333,1.432449e+06,592811.500000,359577.083333,1.397582e+06,583395.833333,350505.833333,1.385642e+06,577022.500000,345184.000000,1.365752e+06,571200.916667,343645.916667
Summer,1.467427e+06,613438.083333,364207.666667,1.435339e+06,606996.000000,359086.000000,1.433051e+06,593685.166667,352201.083333,1.391462e+06,580354.083333,349348.416667,1.375802e+06,579461.333333,349570.916667
Winter,1.440247e+06,597369.000000,357503.636364,1.424801e+06,585255.909091,351267.090909,1.401388e+06,579702.272727,350413.909091,1.385345e+06,572690.181818,344051.454545,1.355200e+06,563123.000000,342367.818182

In [251]:
mean_mon_by_season.to_csv('monthly_mean_sales_season.csv')