In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
import pandas as pd
import numpy as np

In [210]:
daily_fp = os.path.join('daily_sales.csv')
monthly_fp = os.path.join('monthly_sales.csv')

In [211]:
daily_sales = pd.read_csv(daily_fp)

monthly_sales = pd.read_csv(monthly_fp)
monthly_sales.set_index('Month, Year')
mean_sales_DOW = daily_sales.groupby('Day of Week').mean()

daily_sales['Day'] = pd.to_datetime(daily_sales['Day'])

In [126]:
mean_sales_DOW.to_csv('mean_sales_DOW.csv')
monthly_sales = monthly_sales.set_index('Month, Year')

In [128]:
monthly_NE = monthly_sales.iloc[:, monthly_sales.columns.str.contains('NE')]

In [109]:
monthly_sales[monthly_sales.columns[monthly_sales.columns.str.contains('NE')]]


monthly_sales.columns[monthly_sales.columns.str.contains('NE')]

Index(['HM-NE', 'CF-NE', 'FF-NE'], dtype='object')

In [168]:
def divide(boom):
    return boom / monthly_NE.sum(axis = 1)

In [173]:
monthly_NE.apply(divide).T.to_csv('NE_percentage_sales.csv')

In [185]:
CF_monthly = monthly_sales[monthly_sales.columns[monthly_sales.columns.str.contains('CF')]]
FF_monthly = monthly_sales[monthly_sales.columns[monthly_sales.columns.str.contains('FF')]]
HM_monthly = monthly_sales[monthly_sales.columns[monthly_sales.columns.str.contains('HM')]]

In [186]:
HM_monthly.T.sum().to_csv('agg_HM_monthly.csv')
CF_monthly.T.sum().to_csv('agg_CF_monthly.csv')
FF_monthly.T.sum().to_csv('agg_FF_monthly.csv')

In [183]:
HM_monthly

               HM-NE    HM-SW    HM-NW    HM-SE     HM-C
Month, Year
Jan-16       1140955  1124565  1111618  1095034  1126476
Feb-16       1175529  1200559  1188037  1167009  1109076
Mar-16       1235995  1220454  1151657  1133899  1167894
Apr-16       1186592  1213616  1149180  1133767  1116560
May-16       1272450  1249686  1187579  1215080  1155612
Jun-16       1235025  1213908  1239785  1217717  1149673
Jul-16       1284426  1269486  1202069  1186438  1220954
Aug-16       1323348  1358134  1283993  1319163  1252825
Sep-16       1284426  1268860  1295077  1279199  1255322
Oct-16       1280303  1315120  1301675  1233342  1213425
Nov-16       1319100  1348519  1276693  1257908  1288024
Dec-16       1280303  1306490  1287225  1266216  1199842
Jan-17       1381012  1356550  1341018  1316604  1290590
Feb-17       1480936  1451591  1428344  1405780  1386331
Mar-17       1381012  1358087  1393347  1378270  1307257
Apr-17       1429463  1411049  1329007  1358906  1335282
May-17       1472779  1395077  1367489  1347357  1381392
Jun-17       1487808  1471677  1442457  1420841  1344775
Jul-17       1419956  1391670  1367838  1343314  1318052
Aug-17       1522698  1560316  1536702  1447084  1431076
Sep-17       1538236  1462819  1433985  1467806  1450080
Oct-17       1466507  1448688  1478973  1401670  1374453
Nov-17       1572618  1542173  1519708  1439282  1475555
Dec-17       1588665  1570750  1492847  1537545  1517969
Jan-18       1574815  1607493  1586799  1570926  1547730
Feb-18       1688763  1597750  1640630  1545259  1517826
Mar-18       1574816  1551672  1532001  1509031  1486792
Apr-18       1623266  1605619  1574000  1611615  1532852
May-18       1672456  1709237  1622550  1601156  1580994
Jun-18       1559609  1534783  1569245  1491366  1474712
Jul-18       1671717  1587310  1566687  1603342  1583461
Aug-18       1654831  1625106  1662321  1574144  1543848
Sep-18       1606160  1642152  1618403  1536130  1520076
Oct-18       1380063  1351220  1351293  1334204  1364454
Nov-18       1551486  1524624  1440957  1417422  1451913
Dec-18       1446801  1419772  1343743  1383670  1360520
Jan-19       1581146  1499626  1534569  1518435  1434785
Feb-19       1503795  1537661  1460434  1432313  1416053
Mar-19       1519140  1444534  1474888  1453373  1375864
Apr-19       1488760  1524090  1442209  1414702  1448080
May-19       1596480  1506271  1547080  1470550  1500448
Jun-19       1488759  1410073  1446819  1371090  1407434
Jul-19       1458378  1379296  1416344  1336287  1366136
Aug-19       1502572  1422314  1462348  1386752  1416674
Sep-19       1458379  1431260  1472377  1397616  1383228

In [232]:

def cool(month):
    if 'Jan' in month:
        return 'Winter'
    elif 'Feb' in month:
        return 'Winter'
    elif 'Mar' in month:
        return 'Spring'
    elif: 'Apr' in month:
        return 'Spring'
    elif 'May' in month:
        return 'Spring'
    elif 'Jun' in month:
        return 'Summer'
    elif 'Jul' in month:
        return 'Summer'
    elif 'Aug' in month:
        return 'Summer'
    elif 'Sep' in month:
        return 'Fall'
    elif 'Oct' in month:
        return 'Fall'
    elif 'Nov' in month:
        return 'Fall'
    else:
        return 'Winter'

In [233]:
monthly_sales['Month, Year'].astype(str).apply(cool)

0     1
1     2
2     3
3     4
4     4
5     4
6     4
7     4
8     4
9     4
10    4
11    4
12    1
13    2
14    3
15    4
16    4
17    4
18    4
19    4
20    4
21    4
22    4
23    4
24    1
25    2
26    3
27    4
28    4
29    4
30    4
31    4
32    4
33    4
34    4
35    4
36    1
37    2
38    3
39    4
40    4
41    4
42    4
43    4
44    4
Name: Month, Year, dtype: int64

AttributeError: 'str' object has no attribute 'contains'